[MASTER]
ignore=pyte

[MESSAGES CONTROL]
disable=
  broad-exception-raised,
  consider-using-f-string,
  design,
  fixme,
  missing-docstring,
  missing-final-newline,
  missing-timeout,
  trailing-whitespace,
  # https://github.com/PyCQA/pylint/issues/2175
  wrong-import-order,
  
[BASIC]
# https://github.com/PyCQA/pylint/issues/2018
argument-rgx=^[a-z_\d]{1,}$
variable-rgx=^[a-z_\d]{1,}$
attr-rgx=^[a-z_\d]{1,}$
const-rgx=^[a-zA-Z_\d]{1,}$

[TYPECHECK]
ignored-modules=pathlib
